body{
    background-color: lightgray;
}
*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    height: auto;
    width: auto;
}
.header{
    width: auto;
    background-color:lightgray;
    overflow: hidden;
}
h1{
    padding: 10px;
    padding-left: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
li{
    float: left;
    color: white;

}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 6px 6px;
    padding-bottom: 6px;
    text-decoration: none;
    border-right: white solid 2px;
}
.active{
    background-color: green;
}
h3{
    font-size: 30px;
    color: #0b4968;
    margin-top: 29px;
    margin-left: 29px;
    font-family: sans-serif;
}
.content{
    float: left;
    width: 58%;
    background-color: white;
}
p{
    margin-left: 29px;
    margin-right: 20px;
    
}
h2{
    font-size: 20px;
    color: #0b4968;
    font-family: sans-serif;
    padding: 25px;
    padding-bottom: 0px;

}
.sidebar{
    background-color: lightgray;
    float: right;
    width: 38%;
}
#h{
    margin: top 0px; ;
}